/*/#backups/
/*/Configs/*/
/*/options/*/
/Nothing__
/instance_flags.gmx/help.rtf
/export/thumb-itch.png
/export/thumb-mp.png
/export/collision_list_funcs.gmez
/export/instance_flags.gmez
/export/instance_flags_demo.gmz
/instance_flags.gmx/datafiles/collision_list_funcs.gmez
